/* Manejar SAAS variables de CSS, estructura de Koala, KOALA SCSS, por ejemplo: Lo díficil de cpiar y pegar los colores para el botón */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;1,500&family=Edu+QLD+Beginner:wght@400;500;700&family=Hachi+Maru+Pop&family=Noto+Serif:wght@400;700&family=Roboto:wght@400;700&family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Skranji&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --color-primary: #2884FF;
    --color-second: #3E26E8;
    --color-text: #fff;
    --paddingsecciones: 5rem 0;
    --margin-elements: 3.5rem;
    --roboto: 'Roboto', sans-serif;
    --font-oswald:  'Oswald', sans-serif;
    --font-opensans:  'Open Sans', sans-serif;
    --font-serif: 'PT Serif', serif;
    --font-workSans: 'Sigmar One', cursive;
    --font-cell: 'Skranji', cursive;
    --cursive:'Dancing Script', cursive;
    --font-lobster: 'Lobster', cursive;
    --bold-letter: 700;
    --color-bg: #ffaa64;
    --color-hover: #c40fca;
    --color-black: #000;
}

.contenedor {
    margin: auto;
    overflow: hidden;
    padding: var(--paddingsecciones);
}

/* Menu de navegación */

.menu-navegacion{
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5.8rem;
    font-family: var(--font-opensans);
    font-weight: var(--bold-letter);
    font-size: 1.1rem;
    background-color: var(--color-bg);
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo {
    line-height: 20px;
    margin-top: 20px;
    cursor: pointer;
}
.text-logo {
    font-family: var(--font-lobster);
    font-size: 1.5rem;
}

.text-logo::before {
    content: "💫";
}

.logo p {
    font-size: 0.8rem;
}

.logo:nth-child(2) {
    font-size: 0.8rem;
    margin-top: -2rem;
}
.logo img {
    margin-top: 0.00rem;
    display: block;
    height: 100%;
    border-radius: 100%;
}


.logo img:hover {
    clip-path: circle(100px at center top);
}

.enlaces a:hover {
    background-color: rgba(255, 68, 0, 0.308);
    color: var(--color-text);
}

.enlaces ul {
    display: flex;
}

.enlaces ul li {
    list-style: none;
}

.enlaces ul li a{
    text-decoration: none;
    padding: 15px;
    color: var(--color-black);
    margin-left: 0.8rem;
    line-height: 4rem;
    transition: 0.6s ease;
}

.enlaces a:active {
    color: rgb(255, 0, 0);
}

.hero {
    height: 36.5rem;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("../RECURSOS/Imágenes/header3.PNG");
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: repeat;
    text-align: center;
}

.contenedor-textos {
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulohero {
    font-family: var(--font-oswald);
    font-size: 2.2rem;
    color: var(--color-text);
    font-weight: var(--bold-letter);
    margin-top: 0.5rem;
}

.textohero {
    font-family: var(--roboto);
    font-size: 1.5rem;
    font-weight: var(--bold-letter);
    color: var(--color-text);
    margin-top: 1rem;
}

#mifoto{
    width: 18rem;
    height: 18rem;
    margin-top: 0.7rem;
    box-shadow: 0 5px 10px var(--color-black);
}

.mifoto {
    background-color: var(--color-text);
    margin-top: 1rem;
    width: 19rem;
    height: 20rem;
    transition: all 0.4s;
}

.mifoto:hover {
    -moz-transform: rotate(5deg);  
    -webkit-transform: rotate(5deg);
}

.btn-a {
    width: 12rem;
    display: block;
    margin: auto;
    padding: 1rem 0;
    background-color: var(--color-text);
    color: var(--color-black);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: var(--bold-letter);
    border-radius: 20px 0 20px 0;
}

.btn-a:hover {
    border: 0.3rem solid var(--color-text);
    background: transparent;
    /* transition: color 2s linear 1s; */
    color: var(--color-text);
}

/* Main */

/* main-articles */

.main-article{
    min-height: 100vh;
    border-top: 0.3rem solid var(--color-black);
}

.main-article .content p {
    font-family: var(--font-oswald);
    margin-bottom: 20px;
    line-height: 20px;
}

.main-article .content h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: var(--bold-letter);
    padding-top: 20px;
}

.main-article .content img {
    width: 32%;
    height: 9rem;
    margin-bottom: 1.2rem;
}

.container-articles {
    max-width: 1000px;
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

aside {
    width: 20%;
    min-width: 30%;
    margin: 40px 30px 30px 0;
    height: 100%;
    background-color: #ffaa64;
    padding: 20px;
    border-radius: 20px;
    position: sticky;
    top: 15px;
}

aside .title-store {
    font-family: var(--font-opensans);
    font-weight: var(--bold-letter);
    font-size: 1.2rem;
    margin-bottom: 20px;
}

aside .items-article a{
    display: block;
    margin-bottom: 10px;
    color: var(--color-text);
    list-style: none;
    text-decoration: none;
    font-family: var(--font-serif);
    font-weight: var(--bold-letter);
    font-size: 1.2rem;
}

.container-articles h2 {
    font-size: 0.9rem;
}

.container-articles h2 a {
    color: #000;
    font-weight: var(--bold-letter);
    font-family: var(--font-cell);
}
.container-articles h2:hover {
    border-bottom: 0.4rem solid #ffaa64;
    width: 20%;
    transition: 0.4s ease-in-out;
}

.title-main {
    text-align: center;
    font-size: 2.4rem;
    color:var(--color-black);
    font-weight: var(--bold-letter);
}

.texto-main {
    text-align: center;
    color: var(--color-black);
    font-family: var(--font-opensans);
    font-size: 1.2rem;
    margin: 1.3rem 0;
}

.beneficios {
    padding-top: var(--margin-elements);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.beneficio {
    font-size: 1.4rem;
    font-weight: var(--bold-letter);
    width: 10em;
    height: 10em;
    background: linear-gradient(rgba(90, 90, 90, 0.8), rgba(23, 45, 0, 0.5), rgba(168, 224, 79, 0.158)), url("../RECURSOS/Imágenes/IMG-20220812-WA0004.jpg");
    background-size: cover;
    background-position: center;
    color: var(--color-text);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.7s;
}

.beneficio:hover {
    transform: scale(1.12);
    border: 0.3rem solid #000;
    color: rgba(255, 252, 65, 0.623);
}

.proyects {
    width: 90rem;
    max-width: 75rem;
    margin: auto;
    overflow: hidden;
    border-top: 0.3rem solid var(--color-black);
}

.contenedor-imagenes {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background: url(../RECURSOS/Imágenes/hands.PNG);
    padding: var(--paddingsecciones);
    border-radius: 25px;
}

.contenedor-imagenes img {
    display: flex; 
    width: 30%;
    box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.5);
    margin-bottom: var(--margin-elements);
    transition: all 0.5s;
    border-radius: 20px;
}

.contenedor-imagenes #img-left:hover {
    transform: translate(-50px);
}

.contenedor-imagenes #img-rigth:hover {
    transform: translate(50px);
}

footer {
    background: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.6), rgba(0, 0 , 0, 0.6)), url(../RECURSOS/Fondos/publicidad-de-amor-amistad.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

footer .titulo-seccion{
    color: var(--color-text);
}

footer .texto-main {
    color: var(--color-text);
}

.redes-sociales {
    display: flex;
    justify-content: center;
}

.redes-sociales a{
    text-decoration: none;
    background-color: var(--color-bg);
    margin: 0 10px;
    border-radius: 20px;
    color: var(--color-text);
    font-size: 2rem;
    padding: 0 1.1rem 0 1.1rem;
}

.redes-sociales a:hover{
    color: var(--color-hover);
}

.hero2 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(../RECURSOS/Imágenes/wallpaper.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    min-height: 40vh;
    display: flex;
    align-items: center;
}
.texto-letter {
    width: 100%;
    color: transparent;
    font-family: var(--font-serif);
    text-align: center;
    text-transform: uppercase;
    font-size: 14rem;
    font-weight: var(--bold-letter);

    background:#f2f2f2;
    background-size: contain;
    background-position: center;

    background-clip: text;
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
}

.text-ref {
    font-family: var(--cursive);
    font-weight: 700;
    text-align: center;
    line-height: 3rem;
    font-style: italic;
    border-bottom: 0.3rem solid var(--color-black);
}

.text-ref::after {
    content: "~";
    color: var(--color-black);
    font-size: 5rem;
}

/* categorias */ 
/* form*/


/* ball-cp */ 

.beneficio a {
    text-decoration: none;
    color: #fff;
}

.title-form {
    font-family: var(--font-serif);
    font-size: 2.5rem;
}

.text-form {
    font-family: var(--font-oswald);
    font-weight: var(--bold-letter);
    font-size: 1.2rem;
}

.label-form {
    font-family: var(--font-oswald);
    font-size: 1.2rem;
}

/* cursos permanentes */

/* acordeon-courses */
.acordeon {
    display: contents;
    justify-content: center;
}

.acordeon input {
    display: none;
}
.acordeon__titulo {
    padding: 15px;
    text-align: center;
    background: #f2f2f2;
    border-bottom: 1.2rem solid #000;
    border-radius: 20px;
    width: 100%;
}

.acordeon__titulo:hover {
    background-color: #ffaa64b4;
}

.acordeon__contenido {
    width: 25rem; 
    height: 12rem;
    height: 0;
    overflow: hidden;
    transition: all 0.5s;
    display: inline-block;
}

.acordeon__contenido img {
    max-width: 100%;
    object-fit: cover;
    margin: 0px 0;
    border-radius: 20px;
    float: left;
    width: 50%;
    padding: 0 10px;
}

.acordeon input:checked ~ .acordeon__contenido{
    height: auto;
    margin: 15px 0;
}

.types-cp {
    background: antiquewhite;
    text-align: center;
    width: 75%;
    margin: auto;
    border-radius: 20px;
}

.horario-cp {
    background: antiquewhite;
    text-align: center;
    font-weight: bold;
}

.cursos-permanentes {
    background-color: #ffaa64a2;
    width: 100%;
    height: 45vh;
    margin-bottom: 1.5rem;
}

.types-cp ul li {
    list-style: none;
}

.types-cp ul li::before {
    content: "🎀";
}

.types-cp ul:hover{
    width: 50%;
    margin: auto;
}

.types-cp ul li:hover {
    border-bottom: 0.3rem double #ffaa64;
    cursor: pointer;
    transition: 0.2s ease-in;
}

/* loader */

#contenedor_carga {
    background-color: var(--color-bg);
    height: 100vh;
    width: 100vw;
    position:fixed;
    -webkit-transition: all 1s ease; 
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
    z-index: 10000;
}

#carga img{
    border: 15px solid #000;
    border-top-color:#ff8017;
    border-top-style: groove;
    height: 10rem;
    width: 10rem;
    border-radius: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    animation: girar 12s linear infinite alternate;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.text-cp {
    text-align: center;
}

.cursos {
    justify-content: center;
    display: flex;
    align-items: flex-end;
    margin: 20px 0;
    flex-direction: row;
}


.container-cp img {
    width: 22%;
    border-radius: 20px;
}

.text-foot{
    text-align: center;
    color: #000;
    background-color: #ffaa64;
    font-family: var(--font-oswald);
    font-size: 2rem;
    text-shadow: 2px 0 1px var(--color-black);
    letter-spacing: 2.5px;
    border-bottom: 0.4rem double #fff;
}

.info-footer-container {
    color: var(--color-text);
    text-align: center;
}

.info-footer-container p {
    font-size: 1.3rem;
    font-family: var(--font-serif);
    font-weight: 700;
}

.icon-adress {
    text-align: center;
}

.contact-footer {
    text-align: center;
    background: linear-gradient(rgba(255, 176, 124, 0.774), rgba(255, 188, 126, 0.781), rgba(153, 104, 72, 0.5));
    width: 50%;
    margin:auto;
    border-radius: 20px;
}

.contact-footer ul {
    color: #000;
    font-family: var(--font-workSans);
    letter-spacing: 2px;
}

.adress {
    font-family: var(--font-opensans);
    font-family: 1.2rem;
    border-bottom: 0.2rem solid var(--color-text);
}

.contact-footer span {
    color: var(--color-text);
}

.contact-footer a {
    text-decoration: none;
    color:#000;
    filter:drop-shadow(1px);
    filter: drop-shadow(2px 3px 3px black);
}
.contact-footer ul li {
    list-style: none;
    color:#fff;
    font-family: var(--font-workSans);
    font-size: 1.1rem;
}
/* hearth */ 

.hearth{
    position: absolute;
    bottom: 10%;
    transform: translate(-50%, -30%) rotate(45deg) scale(1) ;
    background-color: #ffaa64;
    width: 20rem;
    height: 20rem;
}

@media screen and (max-width: 800px) {
    .menu-navegacion {
        flex-direction: column;
        height: 8rem;
        justify-content: space-evenly;
    }

    .titulohero {
        font-size: 1.5rem;
        margin-top: 1rem;
        padding: 0 5px;
    }
    .textohero {
        font-size: 1.1rem;
        font-weight: 500;
    }
    .btn-a {
        margin-bottom: 4rem;
        border-radius: 20px;
        width: 9rem;
        font-size: 1rem;
    }
    .hero {
        height: 30rem;
    }
    .beneficio{
        margin-bottom: 40px;
    }
    .contenedor-imagenes img{
        width: 90%;
    }
}

@media screen and (max-width:700px) {
    .menu-navegacion {
        display: flex;
        height: 6rem;
        flex-direction: column;
        text-align: center;
        flex-wrap: nowrap;
        margin-left: -95px;
    }
    .redes-sociales {
        margin-top: -4rem;
    }
    .main-nav{
        transform: translateY(-305%);
        transition: transform 0.3s;
    }

    .main-nav img
     {
        max-width: 100%;
    }

    .toggle-menu {
        position: absolute;
        top: 23px;
        right: 1rem;
        width: 40px;
        cursor: pointer;
        z-index: 1;
    }

    .types-cp {
        background-color: #f231;
        text-align: center;
        font-family: var(--font-serif);
        font-size: 1.2rem;
    }
    .types-cp ul li::before {
        content: "💕";
    }

    .cursos {
        animation: escalar 1.2s infinite alternate;
    }

    @keyframes escalar {
        from {
            transform: scale(1);
        }
        to {
            transform: scale(1.1);
        }
    }
    .types-cp ul li {
        list-style: none;
    }

    .main-menu--show{
        transform: translateY(0);
    }

    .hero {
        height: 40rem;
    }
    .logo img {
        margin-top: 10px;
        margin-left: 100px;
    }
    .logo {
        height: 10rem;
        align-items: baseline;
        justify-content: center;
        flex-direction: column-reverse;
        display: flex;
        margin-top: 69px;
        margin-left: 21px;
        background-color: #fff;
        border-radius: 20px;
        border: 0.3rem solid #000;
        padding: 41px;
    }

    .logo p {
        margin-bottom: -2px;
    }
    .altura-nav {
        height: 12.5rem;
        transition: height 0.8s ease;
    }
    .margentop {
        margin-top: 0;
    }
    .btn-a {
        margin-bottom: 2rem;
        border-radius: 20px;
        width: 9rem;
        font-size: 1rem;
    }
    .enlaces a {
        padding: 0;
        margin: 0;
    }

    .enlaces a:hover {
        border-radius: 20px;
    }

    .proyects {
        width: 90%;
    }
    .contenedor-imagenes img{
        width: 90%;
    }

    footer {
        background: linear-gradient(rgba(236, 153, 84, 0.884), rgba(255, 255, 255, 0.65), rgba(255, 170, 100, 0.644)), url("../RECURSOS/Fondos/publicidad-de-amor-amistad.jpg");
        color: var(--color-black);
        background-repeat: no-repeat;
        background-size: 272vw;
        background-position: center;
    }

    footer .titulo-seccion {
        color: var(--color-black);
    }

    footer .texto-main{
        color: var(--color-black);
    }

    .redes-sociales a{
        color:var(--color-black);
    }

    .texto-letter {
        font-size: 600%;
    }
    .contenedor-imagenes {
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url(../RECURSOS/Imágenes/hands.PNG);
        background-position: center;
        border-radius: 20px;
    }
    .main-article .container-articles {
		flex-direction: column;
	}

    aside {
        width: 100%;
        text-align: center;
        border-radius: 4px;
    }
    .mifoto:hover {
        -moz-transform: rotate(0);  
        -webkit-transform: rotate(0);
    } 
    .enlaces ul {
        max-width: 100%;
    }
    .enlaces ul li a {
        padding: 0;
    }

    .enlaces{
        width: 307px;
    }
    .anuncio-mail {
        padding: 0 20px;
    }
    .svg-sitdown {
        width: 15rem;
        height: 9rem;
        margin: auto;
    }
    .form-contact {
        display: flex!important;
        flex-direction: column;
        align-items: center;
    }

    .form-container {
        width: 80%;
        margin: auto;
        margin-bottom: -3.8rem;
    }
    .hearth {
        position: absolute;
        bottom: 40%;
        transform: translate(-120%, -20%) rotate(45deg) scale(1.85);
        border: 0.2rem solid #ffaa64;
        width: 6rem;
        height: 6rem;
        background:#ffaa64;
    }
    .contact-footer a {
        text-decoration: none;
        color: #000;
        font-size: 1.22rem;
        font-family: var(--font-oswald);
        font-weight: var(--bold-letter);
    }
    .contact-footer {
        color: #000;
        font-size: 0.7rem;
        font-family: var(--font-oswald);
        font-weight: var(--bold-letter);
        width: 100%;
        border-radius: 0;
        background: none;
    }
    .horarios {
        background-color: wheat;
        border: 0.1rem solid #000;
        border-radius: 0 20px 20px 0;
        margin-top: 20px;
        width: 68%;
        height: 4.69rem;
        margin-left: -2.3rem;
    }

    .horarios ul li {
        list-style: none;
        font-size: 0.75rem;
        color:#000;
    }

    .adress {
        font-family: var(--font-workSans);
        font-weight: var(--bold-letter);
        font-size: 1.2rem;
        margin: 6px 10px;
    }
    .icon-adress {
        color: #000;
        font-size: 1.5rem;
    }

    .contenedor {
        text-align: center;
        margin-bottom: 14px;
        margin-top: -8px;
    }

    .infostore-p {
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }

    .info-footer-container{
        background-color: #fff;
        border-top: 0.2rem solid #000;
        border-bottom: 0.2rem solid #000;
        margin-top: -32px;
        color: #000;
        font-size: 0.7rem;
    }

    .info-footer-container p{
        padding: 0 15px;
    }

    .icon-adress span {
        text-align: center;
    }

    .text-ref {
        border: none;
    }

    .text-foot{
        margin-bottom: 0;
        font-family: 'Courier New', Courier, monospace;
        font-size: 2rem;
        text-align: center;
        font-weight: var(--bold-letter);
    }
    .infostore-p {
        font-family: var(--font-serif);
    }

    .contenedor-2 .texto-main{
        margin-bottom: 0;
    }
    .main-article .content img {
        width: 46%;
        height: 9rem;
        margin: 0.4rem 5px;
        border: 0.4rem dotted #ffaa64;
    }
    .logo-svg {
        width: 70%;
        height: 50%;
        margin: auto;
    }
    .form-container {
        text-align: center;
        margin-bottom: 1.5rem;
    }
    .cursos-permanentes {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .cursos-permanentes .cursos img {
        width: 12rem;
    }

    /* acordeon-courses */
    .acordeon {
        display: contents;
        justify-content: center;
    }

    .acordeon input {
        display: none;
    }
    .acordeon__titulo {
        padding: 15px;
        text-align: center;
        background: #f2f2f2;
        border-bottom: 1.2rem solid #000;
        border-radius: 20px;
        width: 100%;
    }

    .acordeon__titulo:hover {
        background-color: #ffaa64b4;
    }

    .acordeon__contenido {
        width: 12rem; 
        height: 8rem;
        height: 0;
        overflow: hidden;
        transition: all 0.5s;
        display: inline-block;
    }

    .acordeon__contenido img {
        max-width: 100%;
        object-fit: cover;
        margin: 5px 0;
        border-radius: 20px;
        border: 0.2rem solid #ff9d4d;
        float: none;
        padding: 0;
    }

    .acordeon input:checked ~ .acordeon__contenido{
        height: auto;
        margin: 15px 0;
    }

    .text-cp {
        font-family: var(--font-serif);
        font-weight: var(--bold-letter);
    }
    .horario-cp {
        text-align: center;
        font-family: var(--font-oswald);
        font-size: 1.1rem;
        font-weight: var(--bold-letter);
    }
    .text-logo::before {
        content: "💫";
    }
}
@media  screen and (min-width: 780px) {
    .toggle-menu {
        display: none;
    }
}